doctype html
html
  head
    link(rel='stylesheet', href='common.css')
    link(rel='stylesheet', href='reset.css')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Мой сайт
  body
    header
      nav
        h1 Личный блог Халача Андрея Евгеньевича
        ul
          li
            a(href='index.html') Главная страница
          li
            a(href='news.html') Новости
          li
            a(href='rozklad.html') Расписание
          li
            a(href='photo.html') Фото
    section
      h2 Главная страница
      article
        header
          h2 Моя биография
        figure
          img(src='img/me.gif')
        p
          | Я всемирно известная болгарская ясновидящая, обладающая уникальным даром предвидеть самые важные события в мире.
          br
          |                  Биография ясновидящей считается самой загадочной среди всех знаменитых людей прошлого века, так как в ней отсутствуют имеющие подтверждение события.
          | 				 Впрочем, и предсказания Ванги до сих пор являются неразгаданным феноменом, как утверждает популярная пресса. Поклонники дара Ванги находят новые доказательства,
          | 				 что пророчества продолжают с невероятной точностью сбываться в современном мире, в то время как скептики утверждают обратное.
      article
        header
          h2 Мои увлечения
        ul
          li Гадать на кофе
          li Гадать на шаре
          li Гадать на руках
          li Ездить по Македонии
          li Гадать конец света
    footer
      p
        | Копируйт 1964 Все права защищены. 
        a(href='vanga1926@mail.ru') Первое гадание бесплатно!!!
