doctype html
html
  head
    link(rel='stylesheet', href='common.css')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Новости
  body
    header
      nav
        h1 Личный блог Халача Андрея Евгеньевича
        ul
          li
            a(href='index.html') Главная страница
          li
            a(href='news.html') Новости
          li
            a(href='rozklad.html') Расписание
          li
            a(href='photo.html') Фото
    section
      h2 Последние новости
      article
        header
          figure
            p
              img(src='img/put.jpg')
            figcaption
              time(datetime='2020-05-19T17:24:24+03:00') 19.05.2020
        p
          | Путін офіційно виступив і шокував усіх присутніх оформленням українського громядянства...
        a(href='https://bit.ly/', target='_blank') Подробнее...
      article
        header
          figure
            p
              img(src='img/amigo.png')
            figcaption
              time(datetime='2020-05-19T17:24:24+03:00') 19.05.2020
        p
          | Аміго завоював премію браузер тисячоліття
        a(href='https://bit.ly', target='_blank') Подробнее...
      article
        header
          figure
            p
              img(src='img/news3.png')
            figcaption
              time(datetime='2020-05-19T17:24:24+03:00') 19.05.2020
        p
          | У Дніпрі невідомі зліпили поліцейське авто зі снігу, подзвонили на 102 і сказали, що на вулиці стоїть занедбане службове авто
        a(href='https://bit.ly/2wby2Lr', target='_blank') Подробнее...
      article
        header
          figure
            p
              img(src='img/news4.png')
            figcaption
              time(datetime='2020-05-19T17:24:24+03:00') 19.05.2020
        p
          | Гончарук заявив, що в цьому році мінімум на 10% буде скорочено державний апарат.
          br
          |                 За словами прем'єра, це можливо завдяки впровадження ІТ-інструментів
        a(href='https://bit.ly/2HsX7Uo', target='_blank') Подробнее...
      article
        header
          figure
            p
              img(src='img/news5.png')
            figcaption
              time(datetime='2020-02-09T17:53:24+03:00') 09.02.2020
        p
          | ЗМІ: На лайнері Diamond Princess, який знаходиться на карантині біля порту Японії, виявили коронавірус в одного з українців
        a(href='https://bit.ly/2HawLq8', target='_blank') Подробнее...
    footer
      p
        | Копируйт 1964 Все права защищены. 
        a(href='vanga1926@mail.ru') Первое гадание бесплатно!!!
