doctype html
html
  head
    link(rel='stylesheet', href='common.css')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Новости
  body
    header
      nav
        h1 Личный блог Халача Андрея Евгеньевича
        ul
          li
            a(href='index.html') Главная страница
          li
            a(href='news.html') Новости
          li
            a(href='rozklad.html') Расписание
          li
            a(href='photo.html') Фото
    section
      h2 Галерея
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/w/wp2580705', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/wp2580705.jpg')
            figcaption
              | Mountain river wallpaper FullHD
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/w/wp2580698', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/wp2580698.jpg')
            figcaption
              | Forest nearby lake wallpaper FullHD
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/w/dXpGmjf', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/dXpGmjf.jpg')
            figcaption
              | Black Hole wallpaper FullHD
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/w/wp3388904', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/wp3388904.jpg')
            figcaption
              | The Earth from space wallpaper FullHD
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/w/wp3388905', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/wp3388905.jpg')
            figcaption
              | Disneyland wallpaper FullHD
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/w/wp3388908', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/wp3388908.jpg')
            figcaption
              | Big city on the shore wallpaper FullHD
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/w/wp383933.jpg', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/wp383933.jpg')
            figcaption
              | Blue eyed snow leopard wallpaper FullHD
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/wp/wp3388910', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/wp3388910.jpg')
            figcaption
              | Snowy mountains wallpaper FullHD
      article
        header
          figure
            p
              a(href='https://wallpapercave.com/wp/wp3358818', target='_blank')
                img(width='25%', height='25%', src='https://wallpapercave.com/wp/wp3358818.jpg')
            figcaption
              | Sea Thunderstorm wallpaper FullHD
    footer
      p
        | Копируйт 1964 Все права защищены. 
        a(href='vanga1926@mail.ru') Первое гадание бесплатно!!!
