doctype html
html
  head
    link(rel='stylesheet', href='common.css')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Расписание
  body
    header
      nav
        h1 Личный блог Халача Андрея Евгеньевича
        ul
          li
            a(href='index.html') Главная страница
          li
            a(href='news.html') Новости
          li
            a(href='rozklad.html') Расписание
          li
            a(href='photo.html') Фото
    section
      article
        header
          h2 Мое расписание
        table(border='1')
          tbody
            tr
              th Понедельник
              th Вторник
              th Среда
              th Четверг
              th Пятница
            tr
              td(rowspan='0') ВЫХОДНОЙ
              td 14:30 Front-end технології
              td 12:55 Front-end технології
              td 12:55 Практикум програмування
              td 11:25 Мова програмування мобільних пристроїв
            tr
              td викладач: Кальниченко Д.О. ауд. 305(6)
              td викладач: Лісняк А.О. ауд. 125(4)
              td викладач: Мухін В.В. ауд 40 (1)
              td викладач: Кудін О.В. ауд. 230(2)
            tr
              td 16:05 Чисельні методи в інформатиці
              td 17:40 Основи автоматизованого проектування
              td 14:30 Чисельні методи в інформатиці
              td 12:55 Іноземная мова
            tr
              td викладач: Левчук С.А. ауд. 41(1)
              td викладач: Кудін О.В. ауд. 408(2)
              td викладач: Левчук С.А. ауд. 36(1)
              td Дерев'янко Ю.М. ауд. 511(6)
            tr
              td(rowspan='1') 17:40 Основи автоматизованого проектування
              td 16:05 Практикум програмування
              td 16:05 Практикум програмування
              td 14:30 Мова програмування мобільних пристроїв
            tr
              td викладач: Кальниченко Д.О. ауд. 38(1)
              td викладач: Мухін В.В. ауд 104 (2)
              td викладач: Мухін В.В. ауд 213(6)
              td викладач: Кальниченко Д.О. ауд. 38(1)
            tr
              td(rowspan='0')
              td 17:40 Практикум програмування
            tr
              td викладач: Мухін В.В. ауд 104 (2)
              td викладач: Кальниченко Д.О. ауд. 38(1)
    footer
      p
        | Копируйт 1964 Все права защищены. 
        a(href='vanga1926@mail.ru') Первое гадание бесплатно!!!
